<div class="errors">
</div>

<form class="edit-post">
  <label for="title">Title</label>
  <input name="title" id="title" value="<%= post.escape("title") %>">
  <label for="body">Body</label>
  <textarea name="body" id="body"><%= post.escape("body") %></textarea>
  <input type="button" class="edit-button" value="Edit Post">
</form>