<% posts.each(function(post){ %>
  <li data-id="<%= post.escape("id") %>">
    <a href="#/posts/<%= post.escape("id") %>"><%= post.escape("title") %></a>
    <button class="delete-post" data-id="<%= post.escape("id") %>">Delete Post</button>
  </li>
<% }); %>